fastapi~=0.124.2
uvicorn==0.38.0
asyncio==4.0.0
httpx==0.28.1
sqlalchemy~=2.0.45
aiosqlite==0.21.0
sqlmodel==0.0.27
h11~=0.16.0
pip~=23.2.1
nats-py==2.12.0
typing_extensions~=4.15.0
click~=8.3.1
httpcore~=1.0.9
idna~=3.11
certifi~=2025.11.12
pydantic~=2.12.5
pydantic_core~=2.41.5
starlette~=0.50.0
anyio~=4.12.0
greenlet~=3.3.0
annotated-types~=0.7.0
requests~=2.32.5